* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: #FAF8F2;
    color: #798A76;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #E4DCD0;
    padding: 15px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #798A76;
    border-bottom: 1px solid #8C4E32;
}

header nav a {
    color: #798A76;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
}

header nav a:hover {
    text-decoration: underline;
    color: #8C4E32;
    
}

main {
    flex: 1;
    padding: 50px;
    text-align: center;
}

/* Trang Chủ */
.home {
    background: linear-gradient(rgba(156, 159, 159, 0.7), rgba(156, 159, 159, 0.7)), url(image/banner.jpg) center;
    text-align: center;
    color: white;
    padding: 100px 120px;
    background-size: cover;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home h1 {
    font-size: 3em;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 5);
    margin-bottom: 20px;
}

.bocuc {
    background-color: #FCEFEA;
    padding: 60px 0;
}

.cangiua {
    text-align: center;
    margin: 0 auto 30px auto;
    padding: 0 40px;
}

.tieude2 {
    color: #1B3322;
    font-size: 40px;
    letter-spacing: 1px;
    margin-bottom: 20px;

}

.tieude {
    color: #798A76;
    margin-bottom: 15px;
    font-size: 25px;
}

.noidung-trangchu {
    font-size: 20px;
    color: #798A76;
    line-height: 2;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    width: 100%;
    margin: 30px auto 0 auto;
    padding: 0 15px;
}

.box:hover img {
    transform: scale(1.1);
}

.box img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    display: block;
}

.duoi {
    margin-top: 30px;

}

.nut {
    background: #455441;
    color: #FCEFEA;
    border: none;
    padding: 10px 10px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.mua {
    background-color: #455441;
    padding: 10px;
    color: #FCEFEA;
    cursor: pointer;
    border-radius: 8px;

}

.mua:hover {
    background: #8C4E32;
}

.caco:hover{
    transform: scale(1.1);
}



/* Cửa hàng & Thành viên */
.container-shop {
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin: 0 10px;
    gap: 30px;
    padding: 0 5px;
    align-items: stretch;

}

.box1 {
    flex: 70%;
    background-color: #E4DCD0;
    border-radius: 8px;
    padding: 20px;
}

.box1>h2 {
    text-align: center;
    margin-bottom: 20px;
}

.box2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    padding: 10px;
    color: #798A76;
    margin-bottom: 15px;
    text-align: left;
}

.caco {
    flex: 1;
    border-radius: 2px;
    background-color: #f9fdf5;
    color: #798A76;
    flex-direction: column;
    border: 1px solid #ccc;
}

.anhnho {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.noidung {
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.box4 {
    flex: 30%;
    /* Chiếm 30% không gian */
    display: flex;
    flex-direction: column;
    min-width: 300px;
    gap: 20px;
    justify-content: space-between;
}

.hieuung {
    background-color: #E4DCD0;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #ddd;
    color: #798A76;
    flex: 1;
}

.hieuung ul {
    list-style-type: none;
    margin-top: 10px;

}

.hieuung ul li a, .hieuung ol li a{
    color: #798A76;
    text-decoration: none;
    margin:0;
    font-weight: bold;
    padding-bottom:10px;
    text-align: left;
    line-height: 2;
    border-bottom: 1px dashed #f38f16;
    margin-bottom: 10px;
    display:block
}
.hieuung ul li a:hover, .hieuung ol li a:hover {
    color: #8C4E32;
    padding-left: 5px;
    transition: 0.2s;}

.icon {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.vanban {
    display: flex;
    margin-left: 500px;
}

/* Form Đăng Nhập */
.login-form {
    background: #E4DCD0;
    padding: 30px;
    border-radius: 10px;
    width: 400px;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0,2);
    text-align: left;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group input.error {
    border-color: red;
}

.error-msg {
    color: red;
    font-size: 0.85em;
    display: block;
    margin-top: 5px;
}

.btn-submit {
    background: #8C4E32;
    color: #FCEFEA;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

.trangthai {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
}

footer {
    text-align: center;
    padding: 20px;
    background: #16281B;
    color: white;
}
/*liên hệ và góp ý*/
.container-team{
    display: flex;
    gap: 40px;
    margin: 40px auto;
    padding: 0 20px;
}
.ykien{
    flex:50%;
    padding: 30px;
    border-radius: 8px;
    border: 1px solid #ddd;
}
.ten{
    margin-bottom: 15px;
    text-align: left;
}
.ten label{
    display: block;
    margin-bottom: 8px;
    color:#444;

}
.ten input, .ten textarea{
    width: 400px;
    padding: 5px;
    border-radius: 8px;
    display:block;
}

.thanhvien{
    flex:50%;
    
}
.avatar{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid #000000;
}
.banthan{
    color: #798A76;
    margin:0;
    font-weight: bold;
    padding-bottom:10px;
    text-align: left;
    line-height: 2;
    border-bottom: 1px dashed #f38f16;
    margin-bottom: 10px;
    display:block
}
.icon{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid #000000;
}